In [ ]:
!pip install flask-ngrok
!pip install flask

In [ ]:
import pandas as pd
from flask_ngrok import run_with_ngrok
from flask import request, jsonify, Flask
import random as rk

In [ ]:
app = Flask(__name__)
run_with_ngrok(app)

In [ ]:
dados = [{
    "id": 1,
    "name": "Mahesh",
    "age": "25",
    "city": "Bangalore",
    "country": "India"
},
{
    "id": 2,
    "name": "Alex",
    "age": "26",
    "city": "London",
    "country": "UK"
},
{
    "id": 3,
    "name": "David",
    "age": "27",
    "city": "San Francisco",
    "country": "USA"
},
{
    "id": 4,
    "name": "Jhon",
    "age": "28",
    "city": "Toronto",
    "country": "Canada"
},
{
    "id": 5,
    "name": "Chris",
    "age": "29",
    "city": "Paris",
    "country": "France"
},

]

In [ ]:
@app.route("/index")
def rota_dados():
  return jsonify(dados)

app.run()